{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PricecomparisonWebsite</title>
    <link rel="stylesheet" href="{%static 'style.css' %}">
</head>
<body>
    <div class="index">
        <div class="header">
        <img class="logo" src="https://toppng.com/uploads/preview/shopping-cart-11530997155vnyhprqvoi.png">
        <h1>Price Comparison Website</h1>
        </div>
        <form action = "get" >
            {% csrf_token %}
            <input class="search" type="text" placeholder="Search Product" name="product">
            <input  type="submit" class="submit">
        </form>
    </div>
    {% block content %}
         
    {% endblock %}   
</body>
</html>
